bin
obj
*.html
*.layout
arrgen.depend
temp*
#*data.txt
plots
*fortesting.txt
*.stackdump
a.out
*.so
*.o
*.exe
*.obj
vor
*.afdo
*.afdo.imports
*.data
*.data.old
results.txt
compile_commands.json
*.mod
*.d
*.ignore
*.dSYM
*.map
*.dll
*.dylib
*.a
arrgen
.vscode
